.bio{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}
.bio__container{
    margin-top: 12%;
    background: rgba(0,0,0,.5); 
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    padding: 6vw;
    display: flex;
    flex-direction: row;
    color: white;
}
.picture{
    width: 22vw;
    height: 25vh;
}
.text{
    width: 27vw;
    height: 25vh;
    justify-content: center;
    padding: 0% 5%;
}
.text-name{
    display: flex; 
    color: lightblue;
}
.text>a{
    padding: 1% 1%;
    flex: 1;
    font-size: 2vw;
    font-weight: bold;
    color: white;
}
.text>p{
    font-size: 1.23vw;
    color: white;
    align-items: left;
}
* {
    max-width: 100%;
}

@media only screen

  and (min-device-width: 375px)

  and (max-device-width: 812px)

  and (-webkit-min-device-pixel-ratio: 3)

  and (orientation: portrait) {
    
.bio__container{
    display: flex;
    flex-direction: column;
    }
}
