.bio{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}
.bio__container{
    margin-top: 15%;
    background: rgba(0,0,0,.5);
    width: 24vw;
    height: 50vh;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.text{
    padding: 2% 3%;
    font-size: 16px;
    font-weight: initial;
    color: white;
    align-items: left;
    flex: 1;
}