.item{
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    scroll-snap-align: start;
}

.item__container{
    width: 30vw;
    height: 30vh;
    opacity: 68%;
    display: flex;
    flex-direction: column;
}

.item__text{
    background-color: white;
    margin-top: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color:black;
    align-items: left;
    flex: 1;
}